<div class="component-border">
  <div class="task-form">
    <h2>Create Task</h2>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newTask.name" required />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="newTask.todo" required />
    </div>

    <!-- <div class="form-group">
      <label for="overlord">Overlord Task:</label>
      <select id="overlord" [(ngModel)]="newTask.overlord">
        <option value="null">No Overlord</option>
        <option
          *ngFor="let task of getOverlordTasks(tasks)"
          [value]="task.taskId"
        >
          {{ task.name }}
        </option>
      </select>
    </div> -->

    <div class="form-group">
      <label for="overlord">Overlord Task:</label>
      <select id="overlord" [(ngModel)]="newTask.overlord">
        <option value="null">No Overlord</option>
        <option
          *ngFor="let task of getOverlordTasks(tasks)"
          [value]="task.taskId"
          [selected]="task.taskId === newTask.overlord"
        >
          {{ task.name }}
        </option>
      </select>
    </div>

    <button class="btn-create" (click)="createTask()">Create Task</button>
  </div>
</div>
