/* task-form.component.css (or styles.css) */
.task-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  /* Add this style to handle overflow */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Adjust width and add ellipsis for longer text */
.form-group input[type="text"] {
  width: calc(100% - 40px); /* Adjust the value as needed */
}

/* Adjust width and add ellipsis for longer text */
.form-group select {
  width: calc(100% - 40px); /* Adjust the value as needed */
}

button.btn-create {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-create:hover {
  background-color: #0056b3;
}
