<div class="component-border">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Task Management</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Shorten Checkbox -->
      <div class="action-row">
        <mat-label>Shorten</mat-label>
        <mat-checkbox
          (click)="preview()"
          [(ngModel)]="isShortened"
        ></mat-checkbox>
        <mat-label>Only Uniques</mat-label>
        <mat-checkbox
          (click)="preview()"
          [(ngModel)]="isOnlyUniques"
        ></mat-checkbox>
        <!-- Additional buttons like 'Trim' can go here -->
        <button mat-button (click)="trimAction()">Trim</button>
      </div>

      <!-- Select Overlord -->
      <div class="select-overlord">
        <app-select-overlord [overlords]="overlords"></app-select-overlord>
      </div>

      <!-- Textarea -->
      <mat-form-field class="text-area">
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="2"
          [(ngModel)]="inputText"
          placeholder="mass tasks or code to tasks"
          (blur)="preview()"
        ></textarea>
      </mat-form-field>

      <!-- Task Name and Action Buttons -->
      <div class="action-row">
        <mat-form-field>
          <input matInput [(ngModel)]="newTaskName" placeholder="one task" />
        </mat-form-field>
        <button mat-fab color="primary" (click)="addTask()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="preview()">
          <mat-icon>preview</mat-icon>
        </button>
        <button mat-fab color="accent" (click)="save()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Task Management</mat-card-title>
    <mat-card-content>
      <div style="display: flex; flex-direction: column">
        <div style="display: flex; justify-content: space-between">
          <strong style="width: 30%">Name</strong>
          <strong style="width: 30%">Todo</strong>
          <strong style="width: 30%">Overlord</strong>
        </div>
        <div
          *ngFor="let task of tasks; let i = index"
          style="display: flex; justify-content: space-between; margin-top: 8px"
        >
          <mat-form-field appearance="fill" style="width: 30%">
            <input matInput [(ngModel)]="task.name" />
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 30%">
            <input matInput [(ngModel)]="task.todo" />
          </mat-form-field>
          <div style="width: 30%; display: flex; align-items: center">
            <span style="flex: 1">{{ getOverlord() }}</span>
            <mat-icon (click)="removeTask(i)">remove_circle_outline</mat-icon>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div *ngIf="selectedOverlord">{{ selectedOverlord.name }}</div> -->
