<mat-card *ngIf="tasks && overlords">
  <h3><b>Edit Tasks</b></h3>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="setToTask(task)"
      style="display: inline"
      *ngFor="let task of tasks"
    >
      {{ "[" + task.name + "] " }}
    </button>
    <button
      mat-raised-button
      (click)="setToTask(getDefaultExtendedTask())"
      style="display: inline"
    >
      Default
    </button>
    <!-- <app-task-mini
      class="task-mini"
      *ngFor="let task of tasks"
      [task]="task"
    ></app-task-mini> -->
  </div>

  <div *ngIf="task" class="filter-options-container">
    <div>
      <div class="input-group">
        <span>Priority:</span>
        <div>
          <input [(ngModel)]="task.priority" type="number" />
          <input type="checkbox" [(ngModel)]="task.priorityEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Created:</span>
        <div>
          <input
            [value]="dateToString(task.timeCreated)"
            (input)="task.timeCreated = stringToDate(dateInput.value)"
            type="datetime-local"
            #dateInput
          />
          <input type="checkbox" [(ngModel)]="task.timeCreatedEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Updated:</span>
        <div>
          <input
            [value]="dateToString(task.lastUpdated)"
            (input)="task.lastUpdated = stringToDate(dateInput.value)"
            type="datetime-local"
            #dateInput
          />
          <input type="checkbox" [(ngModel)]="task.lastUpdatedEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>End:</span>
        <div>
          <input
            [value]="dateToString(task.timeEnd)"
            (input)="task.timeEnd = stringToDate(dateInput.value)"
            type="datetime-local"
            #dateInput
          />
          <input type="checkbox" [(ngModel)]="task.timeEndEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Duration:</span>
        <div>
          <input [(ngModel)]="task.duration" type="number" />
          <input type="checkbox" [(ngModel)]="task.durationEdit" />
        </div>
      </div>
    </div>
    <div>
      <div class="input-group">
        <span>Name:</span>
        <div>
          <input
            [(ngModel)]="task.name"
            (input)="taskChanged()"
            type="text"
            placeholder="name"
          /><input type="checkbox" [(ngModel)]="task.nameEdit" />
        </div>
      </div>

      <div class="input-group">
        <span>Todo:</span>
        <div>
          <input
            [(ngModel)]="task.todo"
            (input)="taskChanged()"
            type="text"
            placeholder="todo"
          /><input type="checkbox" [(ngModel)]="task.todoEdit" />
        </div>
      </div>

      <div class="input-group">
        <span>Why:</span>
        <div>
          <input
            [(ngModel)]="task.why"
            (input)="taskChanged()"
            type="text"
            placeholder="why"
          /><input type="checkbox" [(ngModel)]="task.whyEdit" />
        </div>
      </div>

      <div class="input-group">
        <span>Owner:</span>
        <div>
          <input
            [(ngModel)]="task.owner"
            (input)="taskChanged()"
            type="text"
            placeholder="owner"
          /><input type="checkbox" [(ngModel)]="task.ownerEdit" />
        </div>
      </div>

      <div class="input-group">
        <span>Tags:</span>
        <div>
          <input
            [(ngModel)]="task.tags"
            (input)="taskChanged()"
            type="text"
            placeholder="Search by tags"
          /><input type="checkbox" [(ngModel)]="task.tagsEdit" />
        </div>
      </div>
    </div>
    <div>
      <div class="input-group">
        <span>Size:</span>
        <div>
          <select [(ngModel)]="task.size" (change)="taskChanged()">
            <option value="do now">Do Now</option>
            <option value="split">Split</option>
            <option value="delegate">Delegate</option></select
          ><input type="checkbox" [(ngModel)]="task.sizeEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Stage:</span>
        <div>
          <select [(ngModel)]="task.stage" (change)="taskChanged()">
            <option value="seen">seen</option>
            <option value="completed">completed</option>
            <option value="todo">todo</option>
            <option value="archived">archived</option>
            <option value="deleted">deleted</option></select
          ><input type="checkbox" [(ngModel)]="task.stageEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Status:</span>
        <div>
          <select [(ngModel)]="task.status" (change)="taskChanged()">
            <option value="active">active</option>
            <option value="inactive">inactive</option></select
          ><input type="checkbox" [(ngModel)]="task.statusEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Repeat:</span>
        <div>
          <select [(ngModel)]="task.repeat" (change)="taskChanged()">
            <option value="once">Once</option>
            <option value="never">Never</option>
            <option value="half-hourly">Half-hourly</option>
            <option value="hourly">Hourly</option>
            <option value="half-daily">Half-daily</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="half-monthly">Half-monthly</option>
            <option value="monthly">Monthly</option>
            <option value="three-monthly">Three-monthly</option>
            <option value="half-yearly">Half-yearly</option>
            <option value="yearly">Yearly</option></select
          ><input type="checkbox" [(ngModel)]="task.repeatEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Type:</span>
        <div>
          <select [(ngModel)]="task.type" (change)="taskChanged()">
            <option value="code">Code</option>
            <option value="idea">Idea</option>
            <option value="note">Note</option>
            <option value="todo">To-Do</option>
            <option value="task">Task</option>
            <option value="next">Next</option>
            <option value="job">Job</option>
            <option value="feature">Feature</option>
            <option value="schedule">Schedule</option>
            <option value="project">Project</option></select
          ><input type="checkbox" [(ngModel)]="task.typeEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Subtype:</span>
        <div>
          <select [(ngModel)]="task.subtype" (change)="taskChanged()">
            <option value="js">JS</option>
            <option value="ts">TS</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="sound">Sound</option>
            <option value="android">Android</option>
            <option value="angular">Angular</option>
            <option value="nodejs">NodeJS</option>
            <option value="java">Java</option>
            <option value="text">Text</option>
            <option value="list">List</option></select
          ><input type="checkbox" [(ngModel)]="task.subtypeEdit" />
        </div>
      </div>
      <div class="input-group">
        <span>Overlord:</span>
        <div>
          <ng-select
            [items]="overlords"
            bindLabel="name"
            bindValue="taskId"
            [(ngModel)]="task.overlord"
            (search)="filterOverlordTasks($event)"
            (click)="$event.stopPropagation()"
            (change)="taskChanged()"
            style="flex: 1"
          >
          </ng-select>
          <input type="checkbox" [(ngModel)]="task.overlordEdit" />
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button [disabled]="tasks.length < 2" (click)="save()">
    Save All
  </button>
  <button
    mat-raised-button
    (click)="saveOne()"
    [disabled]="task.name.length < 2"
  >
    Save One: {{ task.name }}
  </button>
  <button
    mat-raised-button
    (click)="create()"
    [disabled]="task.name.length < 2"
  >
    Create: {{ task.name }}
  </button>
  <!-- <button
    mat-raised-button
    (click)="createParentAndAdd()"
    [disabled]="task.name.length < 2"
  >
    Create Parent and Add
  </button> -->
</mat-card>

<!-- <select [(ngModel)]="task.overlord" (change)="taskChanged()">
            <option
              *ngFor="let overlord of overlords"
              [value]="overlord.taskId"
              [selected]="overlord.taskId === task.overlord"
            >
              {{ overlord.name }}
            </option>
          </select> -->
