.filter-options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.filter-options-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-options-container label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-options-container label span {
  width: 80px; /* Adjust as needed */
  display: inline-block;
}
