.create-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container {
  margin: 0px;
}

.task-card {
  max-width: 600px;
  margin: auto;
  padding: 0px;
}

.task-content {
  display: flex;
  align-items: center; /* This should do the magic */
}
