<div class="create-task-container">
  <mat-card class="task-card">
    <mat-card-content class="task-content">
      <input
        placeholder="{{ overlord?.name }}"
        type="text"
        id="name"
        [(ngModel)]="newTask.name"
        required
      />
      <button mat-icon-button (click)="createTask()">
        <mat-icon aria-label="Go in">save</mat-icon>
      </button>
      <button mat-icon-button (click)="createAndMove()">
        <mat-icon aria-label="Go in">playlist_add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<!--
<span class="material-symbols-outlined">
move_group
</span> -->
