<div class="create-task-container">
  <div class="task-input-group">
    <input
      class="task-input"
      placeholder="Add to: {{ overlord?.name }} : {{ overlord?.why }}"
      type="text"
      id="name"
      [(ngModel)]="newTask.name"
      (ngModelChange)="onInputChange()"
      required
      aria-label="Task name"
    />
    <button class="task-btn save" (click)="createTask()" aria-label="Save task">
      <mat-icon>save</mat-icon>
    </button>
    <button
      class="task-btn add"
      (click)="createAndMove()"
      aria-label="Create and move task"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
    <app-gpt-create></app-gpt-create>

    <!-- <button
      class="task-btn add"
      (click)="createAndMove()"
      aria-label="edit task dropdown"
    >
      <mat-icon>edit</mat-icon>
    </button> -->
  </div>
</div>
