<form [formGroup]="settingsForm">
  <div class="form-group">
    <label>
      Show Archived:
      <input type="checkbox" formControlName="isShowArchived" />
    </label>
  </div>

  <div class="form-group">
    <label>
      Show Completed:
      <input type="checkbox" formControlName="isShowCompleted" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Show Deleted:
      <input type="checkbox" formControlName="isShowDeleted" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Show Seen:
      <input type="checkbox" formControlName="isShowSeen" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Show Todo:
      <input type="checkbox" formControlName="isShowTodo" />
    </label>
  </div>

  <div class="form-group">
    <label>Complete Button Action:</label>
    <div class="button-group">
      <button
        mat-icon-button
        style="background-color: white"
        [style.color]="getColor()"
      >
        <mat-icon aria-label="Complete">check_circle</mat-icon>
      </button>
      <button
        mat-button
        *ngFor="let action of completeButtonActions"
        (click)="setAction(action)"
        [ngClass]="{ active: isActionSelected(action) }"
        [style.color]="getButtonColor(action)"
      >
        {{ action }}
      </button>
    </div>
  </div>
</form>
