<mat-toolbar
  class="mat-elevation-z4 flex justify-between items-center px-4 headerMain"
  style="background-color: #7d4fbf; color: white"
>
  <div class="flex items-center gap-2">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-notification></app-notification>
  </div>
  <app-search-create></app-search-create>
</mat-toolbar>

<mat-sidenav-container class="h-[calc(100vh-64px)]">
  <mat-sidenav
    #drawer
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset && !isCompact"
    class="bg-secondary !w-[280px] lg:!w-[320px] max-w-full flex flex-col"
  >
    <div class="flex flex-col flex-1 h-full">
      <!-- Top container: parent + child lists side by side -->
      <div class="flex flex-1 overflow-hidden border-b border-gray-300">
        <ul class="w-1/2 overflow-y-auto p-2">
          <li
            *ngFor="let item of parentItems"
            class="p-2 rounded cursor-pointer hover:bg-gray-300 text-sm truncate"
            [class.bg-primary]="isSelected(item.path)"
            [class.text-white]="isSelected(item.path)"
            (click)="onParentClick(item)"
          >
            <div class="flex items-center gap-2">
              <mat-icon>{{ item.metadata.icon || "folder" }}</mat-icon>
              <span class="whitespace-normal break-words text-grey">
                {{ item.metadata.title }}
              </span>
            </div>
          </li>
        </ul>

        <ul class="w-1/2 overflow-y-auto p-2">
          <li
            *ngFor="let child of childItems"
            class="p-2 rounded cursor-pointer hover:bg-gray-300 text-sm truncate"
            [class.bg-primary]="isSelected(child.path)"
            [class.text-white]="isSelected(child.path)"
            (click)="onChildClick(child)"
          >
            <div class="flex items-center gap-2">
              <span class="whitespace-normal break-words">
                {{ child.metadata.altName || child.metadata.title }}
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Bottom container: artificer and extra buttons -->
      <div class="flex-shrink-0 p-2">
        <ng-container *ngIf="showArtificer">
          <app-artificer></app-artificer>
        </ng-container>
        <!-- Add other button components here if needed -->
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-0">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
