.task-navigator {
  max-width: 600px;
  width: auto; // Adjusts based on content size
  margin: 10px auto;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 5px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eceff1;
  border-radius: 8px;
}

.no-tasks {
  text-align: center;
  padding: 10px;
  background-color: #eceff1;
  border-radius: 8px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.left-section,
.right-section {
  flex: 1 1 auto;
  overflow: hidden; /* Prevents elements from causing overflow */
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Ensures spacing between action and promoter components */
}

.show-more {
  max-width: 100%; /* Ensures it does not push container width */
  overflow: hidden; /* Prevents text overflow */
  text-overflow: ellipsis; /* Adds an ellipsis if text is too long */
  white-space: nowrap; /* Keeps text on a single line */
}

.navigation-actions {
  display: flex;
  margin-right: 10px; // Space between navigation buttons and task mini
}

.task-btn {
  background-color: transparent;
  color: #868686;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-btn:hover {
  background-color: #e8eaf6;
}

.selected {
  background-color: #7490a3;
}

@media (max-width: 768px) {
  .task-navigator {
    padding: 0px;
  }

  .task-container {
    flex-direction: row; // Ensures horizontal layout
    padding: 2px;
  }

  .task-header {
    flex-direction: column;
    align-items: start;
    padding: 5px;
  }

  .navigation-actions {
    margin-right: 5px; // Tighter spacing for smaller screens
  }
}
