<div class="search-create-container">
  <div class="search-create-row">
    <mat-form-field
      class="search-bar"
      subscriptSizing="dynamic"
      appearance="outline"
    >
      <input
        matInput
        [formControl]="searchControl"
        placeholder="{{ selectedOverlord?.name || 'Search or Create' }}"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clearInput()"
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-icon-button
      color="primary"
      (click)="onCreateTask(searchControl.value ?? '')"
      aria-label="Save Task"
    >
      <mat-icon>save</mat-icon>
    </button>

    <button
      *ngIf="isEnabledBack"
      mat-icon-button
      color="primary"
      (click)="goBack()"
      aria-label="Go Back"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="search-results" *ngIf="searchResults?.length">
    <p
      *ngFor="let task of searchResults"
      (click)="onSelectTask(task.taskId)"
      [class.selected]="task.taskId === selectedOverlord?.taskId"
    >
      {{ task.name }}
    </p>
  </div>
</div>
