<div *ngIf="selectedOverlordName">
  <form [formGroup]="taskForm" (ngSubmit)="createTask()" class="task-form">
    <div class="input-group">
      <!-- Button to toggle additional fields -->
      <button
        mat-icon-button
        type="button"
        (click)="toggleAdditionalFields()"
        aria-label="Toggle Additional Fields"
      >
        <mat-icon>
          {{ showAdditionalFields ? "expand_less" : "expand_more" }}
        </mat-icon>
      </button>

      <!-- Task Name Input -->
      <mat-form-field class="full-width">
        <input
          matInput
          id="name"
          formControlName="name"
          placeholder="to: {{ selectedOverlordName }}"
        />
      </mat-form-field>

      <!-- Save Button: only submit form when this button is clicked -->
      <button
        mat-icon-button
        type="submit"
        color="primary"
        [disabled]="!taskForm.valid"
        aria-label="Save Task"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <!-- Additional Fields -->
    <div *ngIf="showAdditionalFields">
      <mat-form-field class="full-width">
        <mat-label>To Do</mat-label>
        <input
          matInput
          id="todo"
          formControlName="todo"
          placeholder="Todo or Description"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Why</mat-label>
        <input
          matInput
          id="why"
          formControlName="why"
          placeholder="Goal or Reason"
        />
      </mat-form-field>
    </div>
  </form>
</div>

<!-- If no overlord is selected, show the search component -->
<div *ngIf="!selectedOverlordName">
  <app-search-overlord></app-search-overlord>
</div>
