/* right-menu.component.css */
.circle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Primary blue color */
  color: white;
  border: none; /* Remove any default border */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  border-radius: 50%; /* Make it perfectly round */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cursor indicates it's clickable */
  transition: background-color 0.3s; /* Smooth transition for background color */
  z-index: 10; /* Ensure it's above the shield */
}

.circle-button:hover {
  background-color: #0056b3; /* Darker shade of blue for better visibility on hover */
}

// we add this because on small screen we don't want to accidentally click something else
.circle-button::before {
  content: "";
  position: absolute;
  width: 80px; /* Increase the width of the non-clickable area */
  height: 80px; /* Increase the height of the non-clickable area */
  background: transparent; /* Invisible but blocks clicks */
  border-radius: 50%;
  top: -15px; /* Position correctly centered on the button */
  left: -15px;
  z-index: -1; /* Lower than the button to not block clicks on the button itself */
}

@media (max-width: 768px) {
  .circle-button {
    bottom: 30px;
    right: 30px; /* Adjust positioning if necessary for smaller screens */
  }

  .circle-button::before {
    width: 100px; /* Even larger area for smaller screens */
    height: 100px;
    top: -25px;
    left: -25px;
  }
}
