ng-select {
  width: 100px; /* Adjust as necessary */
  display: block;
}

ng-select .ng-placeholder.ng-untouched {
  display: none;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
