// .mini-task-details {
//   flex-grow: 1;
//   cursor: pointer;
// }
// .mini-task-details:hover {
//   color: #999;
// }

.task-title {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;

  /* Break long words and wrap text */
  word-wrap: break-word; /* Ensure long words break */
  overflow-wrap: anywhere; /* Allow breaking at any point for long words */

  /* Prevent horizontal overflow */
  max-width: 400px; /* Constrain width */
  white-space: normal; /* Allow text wrapping */

  @media (max-width: 480px) {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 3px;
    max-width: 200px;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 12px;
    margin-left: 1px;
    margin-top: 1px;
    max-width: 230px;
  }
}

.task-info {
  font-size: 0.85rem;
  color: #666;
}

.task-due-date {
  margin-right: 10px;
}

.task-duration,
.task-priority {
  margin-right: 5px;
}

.high-priority {
  color: #ff6347; /* Tomato color for high priority */
}

.task-actions button {
  margin: 0 5px;
}

.selected-task {
  border-color: #007bff;
}
