.mini-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.mini-task-details {
  flex-grow: 1;
  cursor: pointer;
}
// .mini-task-details:hover {
//   color: #999;
// }

.task-title {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.task-info {
  font-size: 0.85rem;
  color: #666;
}

.task-due-date {
  margin-right: 10px;
}

.task-duration,
.task-priority {
  margin-right: 5px;
}

.high-priority {
  color: #ff6347; /* Tomato color for high priority */
}

.task-actions button {
  margin: 0 5px;
}

.selected-task {
  border-color: #007bff;
}
