.selected-tasks-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      margin-right: 10px;
    }
  }

  .button-group {
    display: flex;
    flex-direction: column;

    .toggle-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      button {
        margin-right: 10px;
      }
    }
  }

  .task-entry {
    margin-bottom: 10px;
  }
}
