<!-- <p>overlord-browser works!</p>
<app-task-list
  [tasks]="filtered"
  [onButtonClick]="onButtonClick"
  [onTaskSelected]="onTaskSelected"
  [actionName]="actionName"
></app-task-list> -->

<!-- <p *ngFor="let task of filtered">
  <app-task-mini [task]="task"></app-task-mini>
  <button (click)="onTaskSelected(task)">go in</button>
  <button (click)="onButtonClick(task)">back</button>
</p> -->
<app-mass-editor
  [tasks]="getSelectedTasksAsArray()"
  [overlords]="overlords"
></app-mass-editor>
<hr />
<mat-card class="task-card">
  <mat-card-content class="task-content">
    <!-- <mat-label>Add Selected to Overlord</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Overlords</mat-label>
      <mat-select [(value)]="selectedOverlord">
        <mat-option *ngFor="let overlord of overlords" [value]="overlord">{{
          overlord.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="assignTasksToOverlord()">Set</button> -->
    <mat-label>Select All</mat-label>
    <mat-checkbox
      [(ngModel)]="isAllSelected"
      (change)="isAllSelected ? selectAll() : deselectAll()"
    ></mat-checkbox>
  </mat-card-content>
</mat-card>

<div *ngFor="let task of filtered" class="task-container">
  <mat-card class="task-card" [class.selected-task]="isSelected(task)">
    <mat-card-content class="task-content">
      <button mat-icon-button (click)="onPrevious(task)">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
      </button>
      <button mat-icon-button (click)="promote(task)">
        <mat-icon aria-label="Go in">arrow_upward</mat-icon>
      </button>
      <app-task-mini
        (click)="onTaskCardClick(task)"
        class="task-mini"
        [task]="task"
        [overlord]="getOverlord(task)"
      ></app-task-mini>
      <!-- <mat-checkbox [checked]="isSelected(task)"></mat-checkbox> -->
      [complete or?]
      <button mat-icon-button (click)="addChild(task)">
        <mat-icon aria-label="Go in">add</mat-icon>
      </button>
      <button mat-icon-button (click)="demote(task)">
        <mat-icon aria-label="Go in">arrow_downward</mat-icon>
      </button>
      <button mat-icon-button (click)="onNext(task)">
        <mat-icon aria-label="Go in">arrow_forward</mat-icon>
      </button>
      <!-- this is edit task extra -->
    </mat-card-content>
    <label>
      <div>
        <app-taskorator *ngIf="isVisible(task)" [task]="task"></app-taskorator>
      </div>
    </label>
  </mat-card>
</div>
