<div class="frog-task-container">
  <div *ngIf="frogTasks?.length; else noTasks">
    <ul>
      <li *ngFor="let task of frogTasks">
        {{ task.name }}
        <button (click)="removeFrogTask(task.taskId)">Remove</button>
      </li>
    </ul>
  </div>
  <ng-template #noTasks>
    <p>No Frog Tasks added yet.</p>
  </ng-template>

  <!-- Assuming a way to add tasks, replace "taskIdToAdd" with actual logic -->
  <!-- <input [(ngModel)]="taskIdToAdd" placeholder="Task ID to add" />
  <button (click)="addFrogTask(taskIdToAdd)">Add Frog Task</button> -->
</div>
