.task-list {
  max-height: 550px; /* Set the maximum height of the list here, adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling for overflowed items */
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px;
  margin-right: 10px;
}

.lists-container {
  display: flex;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.task-item:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}

button {
  background-color: #ff0000; /* Set the delete button color */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* task-list.component.css */
.task-item:hover {
  background-color: #f0f0f0; /* Change this to the color you want on hover */
  cursor: pointer; /* Optional: Change the cursor to a pointer on hover */
}

/* Define the colors for the buttons */
.button-archive {
  background-color: #2196f3; /* Blue color for Archive button */
  color: #fff; /* White text color */
}

.button-delete {
  background-color: #f44336; /* Red color for Delete button */
  color: #fff; /* White text color */
}

.button-renew {
  background-color: #4caf50; /* Green color for Renew button */
  color: #fff; /* White text color */
}
