<!-- <app-task-view></app-task-view>
<app-task-importance></app-task-importance>
<app-input-to-tasks></app-input-to-tasks>
<app-add-simple-task></app-add-simple-task> -->

<nav class="navigation">
  <a>
    <span [style.color]="feedback.isError === true ? 'red' : 'green'">
      {{ feedback.text }}
    </span>
  </a>

  <!-- <div><app-database-status></app-database-status></div> -->
  <!-- <div><app-add-with-search></app-add-with-search></div> -->
  <!-- <a routerLink="/task-view">Task View</a> -->
  <!-- <a routerLink="/task-importance">Task Importance</a> -->
  <div *ngIf="testing">
    <a routerLink="/input-to-tasks">Mass Add</a>
    <a routerLink="/add-simple-task">Add Simple Task</a>
    <a routerLink="/overlord-manager">Overlord Swapper</a>
    <a routerLink="/filter-manager">Various Lists</a>
    <a routerLink="/parent">Task Browser</a>
    <!-- <a routerLink="/overlord-browser">Various Lists</a> -->
    <a routerLink="/task-filter">Mass Editor</a>
  </div>
  <a routerLink="/d3-vizualizer">Vizualizer</a>

  <div *ngIf="!authenticated">
    <a routerLink="/login">Login</a>
  </div>
  <!-- <a routerLink="/register">Register</a> -->
  <a routerLink="/protected">Tasks</a>
  <!-- <a routerLink="/firebase">Firebase Test</a> -->
</nav>
<!-- below navigation -->
<!-- <app-current></app-current> -->
<router-outlet></router-outlet>

<!-- ... Rest of your application ... -->

<footer class="feedback-footer">
  <!-- <h4>Feedback</h4>
  <p>{{ feedback }}</p> -->

  <!-- <p>
    edit with node the wow mrt note to add tasks for wow voice app listen to
    keybind
  </p>
  <p>if ctrl c, check if has keyword (please lets say), respond as usual</p> -->
</footer>
