<nav class="navigation">
  <!-- Optional: App logo or name -->
  <div *ngIf="testing">TESTING: {{ testing }}</div>
  <div *ngIf="feedback">
    <span>{{ feedback }}</span>
  </div>

  <ng-container *ngIf="testing">
    <a class="nav-link" routerLink="/input-to-tasks">Mass Add</a>
    <a class="nav-link" routerLink="/add-simple-task">Add Simple Task</a>
    <a class="nav-link" routerLink="/overlord-manager">Overlord Swapper</a>
    <a class="nav-link" routerLink="/filter-manager">Various Lists</a>
    <a class="nav-link" routerLink="/parent">Task Browser</a>
    <a class="nav-link" routerLink="/task-filter">Mass Editor</a>
  </ng-container>
  <a class="nav-link" routerLink="/vizualizer">Vizualizer</a>
  <a class="nav-link" *ngIf="!authenticated" routerLink="/login">Login</a>
  <a class="nav-link" routerLink="/protected">Tasks</a>
</nav>

<router-outlet></router-outlet>

<footer class="feedback-footer">
  <!-- Footer content here, can be uncommented or modified as needed -->
</footer>
