<div class="task-list">
  <!-- No Tasks Message -->
  @if (tasks.length === 0) {
    <div class="no-tasks">
      <p>No tasks.</p>
    </div>
  }

  <!-- Task List -->
  @for (task of tasks; track task) {
    <div
      class="task-container"
      [class.selected]="false"
      >
      <div class="left-section">
        <button class="task-btn" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <app-task-mini [task]="task"></app-task-mini>
      </div>
      <button class="task-btn" (click)="deleteTask(task)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>
