<div class="task-navigator-layout">
  <div class="task-content-wrapper">
    <!-- Conditionally Render Artificer -->
    <ng-container *ngIf="showArtificer">
      <app-artificer></app-artificer>
    </ng-container>

    <!-- Task List -->
    <div class="task-list">
      <app-overlord-navigator-test></app-overlord-navigator-test>

      <div *ngIf="tasks?.length === 0" class="no-tasks">
        <p>No tasks yet.</p>
        <!-- <button class="task-btn" (click)="goBack(selectedOverlord)">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
        <button class="task-btn" (click)="goBackPrevious(selectedOverlord)">
          <mat-icon>arrow_back</mat-icon>
        </button> -->
      </div>

      <div
        *ngFor="let task of tasks"
        class="task-container"
        [attr.data-age-ratio]="getAgeRatio(task).toFixed(2)"
        [style.borderLeftColor]="getAgeColor(getAgeRatio(task))"
        [style.boxShadow]="
          getAgeRatio(task) < 0.1 ? '0 0 6px rgba(76,175,80,0.5)' : 'none'
        "
      >
        <div class="left-section">
          <div class="navigation-actions">
            <!-- <button class="task-btn" (click)="onPrevious(task)">
              <mat-icon>arrow_back</mat-icon>
            </button> -->
            <button class="task-btn" (click)="onNext(task)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
          <app-task-mini [task]="task"></app-task-mini>
          <div *ngIf="isShowMoreEnabled()" class="show-more">
            {{ task.why }} - {{ task.todo }}
          </div>
        </div>
        <div class="right-section">
          <app-artificer-action-test
            [treeNode]="getTreeNodeData(task)"
            [task]="task"
          ></app-artificer-action-test>
        </div>
      </div>
    </div>
  </div>
</div>
