<div class="filter-options-container">
  <div>
    <label><b>Sort by:</b></label>
    <div>
      <label>
        <input type="radio" name="sort" (change)="sortTasks('priority')" />
        Priority
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortTasks('timeCreated')" />
        Time Created
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortTasks('lastUpdated')" />
        Last Updated
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortTasks('timeEnd')" /> Time
        End
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortTasks('duration')" />
        Duration
      </label>
    </div>
    <button (click)="toggleSortOrder()">Sort: {{ sortOrder }}</button>
  </div>
  <div>
    <label><b>Search by:</b></label>

    <label
      ><span>Name:</span>
      <div>
        <input
          [(ngModel)]="name"
          (input)="filterTasks()"
          type="text"
          placeholder="name"
        /></div
    ></label>

    <label
      ><span>Todo:</span>
      <div>
        <input
          [(ngModel)]="todo"
          (input)="filterTasks()"
          type="text"
          placeholder="todo"
        /></div
    ></label>

    <label
      ><span>Why:</span>
      <div>
        <input
          [(ngModel)]="why"
          (input)="filterTasks()"
          type="text"
          placeholder="why"
        /></div
    ></label>

    <label
      ><span>Owner:</span>
      <div>
        <input
          [(ngModel)]="owner"
          (input)="filterTasks()"
          type="text"
          placeholder="owner"
        /></div
    ></label>

    <label
      ><span>Tags:</span>
      <div>
        <input
          [(ngModel)]="tags"
          (input)="filterTasks()"
          type="text"
          placeholder="Search by tags"
        /></div
    ></label>
  </div>
  <div>
    <label><b>Select by:</b></label>

    <label
      ><span>Size:</span>
      <div>
        <select [(ngModel)]="size" (change)="filterTasks()">
          <option value="">All</option>
          <option value="do now">Do Now</option>
          <option value="split">Split</option>
          <option value="delegate">Delegate</option>
        </select>
      </div></label
    >
    <label
      ><span>Stage:</span>
      <div>
        <select [(ngModel)]="stage" (change)="filterTasks()">
          <option value="">All</option>
          <option value="seen">seen</option>
          <option value="completed">completed</option>
          <option value="todo">todo</option>
          <option value="archived">archived</option>
          <option value="deleted">deleted</option>
        </select>
      </div></label
    >
    <label
      ><span>Status:</span>
      <div>
        <select [(ngModel)]="status" (change)="filterTasks()">
          <option value="">All</option>
          <option value="active">active</option>
          <option value="inactive">inactive</option>
        </select>
      </div></label
    >
    <label
      ><span>Repeat:</span>
      <div>
        <select [(ngModel)]="repeat" (change)="filterTasks()">
          <option value="">All</option>
          <option value="once">Once</option>
          <option value="never">Never</option>
          <option value="half-hourly">Half-hourly</option>
          <option value="hourly">Hourly</option>
          <option value="half-daily">Half-daily</option>
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="half-monthly">Half-monthly</option>
          <option value="monthly">Monthly</option>
          <option value="three-monthly">Three-monthly</option>
          <option value="half-yearly">Half-yearly</option>
          <option value="yearly">Yearly</option>
        </select>
      </div></label
    >
    <label
      ><span>Type:</span>
      <div>
        <select [(ngModel)]="type" (change)="filterTasks()">
          <option value="">All</option>
          <option value="code">Code</option>
          <option value="idea">Idea</option>
          <option value="note">Note</option>
          <option value="todo">To-Do</option>
          <option value="task">Task</option>
          <option value="next">Next</option>
          <option value="job">Job</option>
          <option value="feature">Feature</option>
          <option value="schedule">Schedule</option>
          <option value="project">Project</option>
        </select>
      </div></label
    >
    <label
      ><span>Subtype:</span>
      <div>
        <select [(ngModel)]="subtype" (change)="filterTasks()">
          <option value="">All</option>
          <option value="js">JS</option>
          <option value="ts">TS</option>
          <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="sound">Sound</option>
          <option value="android">Android</option>
          <option value="angular">Angular</option>
          <option value="nodejs">NodeJS</option>
          <option value="java">Java</option>
          <option value="text">Text</option>
          <option value="list">List</option>
        </select>
      </div></label
    >
  </div>
</div>
<app-overlord-browser
  [overlords]="overlords"
  [filtered]="filtered"
  [tasks]="filtered"
></app-overlord-browser>
