<form [formGroup]="settingsForm">
  <!-- Filter Section -->
  <div class="filter-section">
    <div class="filter-title">Task Filters:</div>
    <div class="filter-options">
      <label
        *ngFor="
          let option of ['Archived', 'Completed', 'Deleted', 'Seen', 'Todo']
        "
      >
        <input type="checkbox" [formControlName]="'isShow' + option" />
        {{ option }}
      </label>
    </div>
  </div>

  <!-- Action Button Section -->
  <div class="action-section">
    <div class="action-title">Complete Action:</div>
    <div class="action-buttons">
      <button
        mat-icon-button
        style="background-color: white"
        [style.color]="getColor()"
      >
        <mat-icon aria-label="Complete">check_circle</mat-icon>
      </button>
      <button
        mat-button
        *ngFor="let action of completeButtonActions"
        (click)="setAction(action)"
        [ngClass]="{ active: isActionSelected(action) }"
        [style.color]="getButtonColor(action)"
      >
        {{ action }}
      </button>
    </div>
  </div>
</form>
