<!-- <form [formGroup]="settingsForm">
  <div class="filter-section">
    <div class="filter-title">Task Filters:</div>
    <div class="filter-options">
      <label
        *ngFor="
          let option of ['Archived', 'Completed', 'Deleted', 'Seen', 'Todo']
        "
      >
        <input type="checkbox" [formControlName]="'isShow' + option" />
        {{ option }}
      </label>
    </div>
  </div>

  <div class="action-section">
    <div class="action-title">Complete Action:</div>
    <div class="action-buttons">
      <button
        mat-icon-button
        style="background-color: white"
        [style.color]="getColor()"
      >
        <mat-icon aria-label="Complete">check_circle</mat-icon>
      </button>
      <button
        mat-button
        *ngFor="let action of completeButtonActions"
        (click)="setAction(action)"
        [ngClass]="{ active: isActionSelected(action) }"
        [style.color]="getButtonColor(action)"
      >
        {{ action }}
      </button>
    </div>
  </div>
</form> -->

<div class="user-info">
  <span class="data">Allowed Templates: {{ user?.allowedTemplates }}</span>
  <span class="data">Can Create Templates: {{ user?.canCreate }}</span>
  <span class="data">Can Use GPT: {{ user?.canUseGpt }}</span>
  <span class="data">Role: {{ user?.role }}</span>
</div>

<div class="task-container">
  <div class="left-section">
    <div class="navigation-actions">
      <button class="task-btn" (click)="editTask(task)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <app-task-mini [task]="task"></app-task-mini>
  </div>
  <div class="right-section">
    <button class="task-btn" (click)="saveTask(task)">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
<!-- <div>
  <pre>
    {{ tree }}
  </pre>
</div> -->
