.filter-section,
.action-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2; /* Light grey background for distinction */
  border-radius: 8px;
}

.filter-title,
.action-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-options label,
.action-buttons button {
  margin-right: 10px;
  white-space: nowrap; /* Keeps the label text on one line */
}

.filter-options {
  display: flex;
  flex-wrap: wrap; /* Allows options to wrap to the next line if space is limited */
}

.action-buttons {
  display: flex;
  align-items: center;
}
