.gap {
  height: 20px;
}
.task-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.left-section,
.right-section {
  flex: 1 1 auto;
  overflow: hidden;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.navigation-actions {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

/* .selected {
  background-color: #2175ad;
} */

/* Mini Task Styles */
.mini-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.mini-task-details {
  flex-grow: 1;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.task-info {
  font-size: 0.85rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Medium Screen Adjustments */
@media (min-width: 481px) and (max-width: 768px) {
  .task-navigator-layout {
    padding: 8px;
    width: 100%;
    max-width: 360px;
  }

  .task-content-wrapper {
    flex-direction: row;
    overflow-x: auto;
  }

  .task-list {
    padding: 8px;
    max-width: calc(100% - 70px);
    overflow-wrap: break-word;
  }
  .task-container {
    padding: 8px;
  }

  .mini-task-details {
    font-size: 0.85rem;
  }

  .task-title {
    font-size: 0.9rem;
  }

  .task-info {
    font-size: 0.8rem;
  }
}

/* Mobile Adjustments */
@media (max-width: 480px) {
  .task-navigator-layout {
    padding: 5px;
    width: 360px;
    max-width: 360px;
  }

  .task-content-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .task-list {
    padding: 5px;
    max-width: calc(100% - 70px);
  }

  .task-container {
    padding: 6px;
  }

  .mini-task-details {
    font-size: 0.8rem;
  }

  .task-title {
    font-size: 0.8rem;
  }

  .task-info {
    font-size: 0.7rem;
  }
}
.task-container {
  position: relative;
  background-color: white; /* default */
  background-image: linear-gradient(
    to right,
    var(--progress-color, transparent) var(--progress-percent, 0%),
    transparent var(--progress-percent, 0%)
  );
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: background-color 0.3s ease;
}

.task-container.selected {
  background-color: #2175ad !important;
  background-image: none !important;
}

.task-container.viewed {
  box-shadow: 0 0 8px 2px #4caf50cc;
  transition: box-shadow 0.3s ease;
  z-index: 2;
}

.task-container.updated {
  border: 2px solid #2196f3;
  transition: border-color 0.3s ease;
}
