<div class="task-navigator-layout">
  <div class="task-content-wrapper">
    <!-- Conditionally Render Artificer -->
    <ng-container *ngIf="showArtificer">
      <div class="app-artificer-container">
        <app-artificer></app-artificer>
      </div>
    </ng-container>

    <!-- Task List -->
    <div class="task-list">
      <app-overlord-navigator></app-overlord-navigator>

      <div *ngIf="tasks?.length === 0" class="no-tasks">
        <app-task-edit
          [task]="selectedOverlord"
          [isPopup]="false"
        ></app-task-edit>
        <p>No other tasks yet.</p>
      </div>
      <div *ngIf="canShowInfo()" class="no-tasks">
        <app-task-card [task]="selectedOverlord"></app-task-card>
      </div>
      <div class="gap"></div>
      <div
        *ngFor="let task of tasks"
        class="task-container"
        [class.selected]="isSelected(task)"
      >
        <div class="left-section">
          <div class="navigation-actions">
            <!-- <button class="task-btn" (click)="onPrevious(task)">
              <mat-icon>arrow_back</mat-icon>
            </button> -->
            <button class="task-btn" (click)="onNext(task)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
          <app-task-mini [task]="task"></app-task-mini>
          <div *ngIf="isShowMoreEnabled()" class="show-more">
            {{ task.why }} - {{ task.todo }}
          </div>
        </div>
        <div class="right-section">
          <app-artificer-action
            [treeNode]="getTreeNodeData(task)"
            [task]="task"
          ></app-artificer-action>
        </div>
      </div>
    </div>
  </div>
</div>
