.create-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container {
  margin: 0px;
}

.task-card {
  max-width: 600px;
  margin: auto;
  padding: 0px;
}

.task-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task-mini {
  flex-grow: 1;
  margin: 0px;
}

.selected-task {
  background-color: #e6e6e6;
  border: 1px solid #b3b3b3;
}
