<div class="w-full sm:w-[600px] sm:mx-auto p-4 rounded-md box-border">
  <div *ngIf="canShowInfo()" class="pb-3">
    <app-task-card [task]="selectedOverlord"></app-task-card>
  </div>

  <div
    *ngFor="let task of tasks"
    [class.selected]="isSelected(task)"
    [class.viewed]="getTaskStatus(task.taskId) === 'viewed'"
    [class.updated]="getTaskStatus(task.taskId) === 'updated'"
    [style.borderLeftColor]="getDateBasedColor(task.timeCreated)"
    [style.borderBottom]="
      getProgressPercent(getTreeNodeData(task)) > 0
        ? '4px solid transparent'
        : 'none'
    "
    [style.--progress-color]="'#4caf5044'"
    [style.--progress-percent]="getProgressPercent(getTreeNodeData(task))"
    class="flex items-center justify-between rounded-md p-3 mb-3 border border-gray-300 box-border cursor-pointer w-full"
  >
    <button
      class="btn btn-sm btn-circle flex-shrink-0"
      (click)="onNext(task); $event.stopPropagation()"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>

    <div class="flex-1 px-3 break-words whitespace-normal">
      <app-task-mini [task]="task"></app-task-mini>
      <div *ngIf="isShowMoreEnabled()" class="show-more">
        {{ task.why }} - {{ task.todo }}
      </div>
    </div>

    <app-artificer-action
      [treeNode]="getTreeNodeData(task)"
      [task]="task"
      class="flex-shrink-0"
    ></app-artificer-action>
  </div>
</div>
