/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.task-btn {
  background-color: white; /* Flat white background for buttons */
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px; /* Consistency in rounding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Minimal shadow for depth */
}

button.task-btn:hover {
  background-color: #e0e0e0; /* Light grey background on hover for better interaction feedback */
}

::ng-deep mat-icon {
  font-size: 14px; /* Ensuring icons are adequately sized for interaction */
  color: #666; /* Subdued icon color for a modern look */
}
