.task-list {
  max-height: 550px; /* Set the maximum height of the list here, adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling for overflowed items */
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px;
  margin-right: 10px;
}

.lists-container {
  display: flex;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.task-item:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}

.task-list .task-item:nth-child(even) {
  background-color: #f8f8f8; /* light grey for even rows */
}

.task-list .task-item:nth-child(odd) {
  background-color: #fff; /* white for odd rows */
}

.task-list .task-item:hover {
  background-color: #e0e0e0; /* darker grey on hover */
}

.task-list .task-item.selected {
  background-color: #d0d0d0; /* even darker grey for selected item */
  /* add any other styles you want for the selected item */
}
