<!-- <div class="create-task">
  <div class="form-group">
    <label>{{ overlord?.name }}</label>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newTask.name" required />
    <label for="why">Why:</label>
    <input type="text" id="why" [(ngModel)]="newTask.why" required />
  </div>
  <button class="btn-create" (click)="createTask()">Create Task</button>
</div> -->

<div class="create-task-container">
  <mat-card class="task-card">
    <mat-card-content class="task-content">
      <input
        placeholder="{{ overlord?.name }}"
        type="text"
        id="name"
        [(ngModel)]="newTask.name"
        required
      />
      <button mat-icon-button (click)="createTask()">
        <mat-icon aria-label="Go in">save</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
