<mat-toolbar class="toolbar">
  <!-- Floating Button for Mobile -->
  <button mat-fab color="primary" (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- App Title -->
  <span class="app-title">Taskorator</span>

  <!-- Overlord Navigator -->
  <!-- <div class="overlord-navigator-wrapper" *ngIf="!isHandset">
    <app-overlord-navigator></app-overlord-navigator>
  </div> -->
</mat-toolbar>

<!-- Main Sidenav Container -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset || drawer.opened"
    class="sidenav"
  >
    <ul class="nav-list">
      <li>
        <!-- <app-overlord-navigator></app-overlord-navigator> -->
      </li>
      <li
        *ngFor="let item of navItems"
        [class.selected]="isSelected(item.path)"
        (click)="onNavItemClick(item)"
      >
        <mat-icon>{{ item.metadata.icon }}</mat-icon>
        <span class="nav-text">{{ item.metadata.title }}</span>
      </li>
    </ul>
    <button
      *ngIf="canGoBack()"
      mat-button
      class="back-button"
      (click)="onBackClick()"
    >
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </mat-sidenav>

  <!-- Main Content Area -->
  <mat-sidenav-content>
    <!-- <div *ngIf="isHandset" class="mobile-overlord-navigator">
      <app-overlord-navigator></app-overlord-navigator>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
    <app-task-navigator-test [showArtificer]="true"></app-task-navigator-test>
  </mat-sidenav-content>
</mat-sidenav-container>
