<mat-toolbar class="toolbar">
  <!-- Conditional Rendering: Show all items -->
  <ng-container *ngIf="!isCompact">
    <!-- Menu Button -->
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- App Title -->
    <span class="app-title">Taskorator</span>

    <!-- Search Toggle Button -->
    <app-search-create-test></app-search-create-test>
  </ng-container>

  <!-- Compact View: One item at a time -->
  <ng-container *ngIf="isCompact">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-search-create-test></app-search-create-test>
  </ng-container>
</mat-toolbar>

<!-- Main Sidenav Container -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="isCompact ? 'over' : 'side'"
    [opened]="!isCompact || drawer.opened"
    class="sidenav"
  >
    <ul class="nav-list">
      <li
        *ngFor="let item of navItems"
        [class.selected]="isSelected(item.path)"
        (click)="onNavItemClick(item)"
      >
        <mat-icon>{{ item.metadata.icon }}</mat-icon>
        <span class="nav-text">{{ item.metadata.title }}</span>
        <span class="nav-alt">{{ item.metadata.altName }}</span>
      </li>
    </ul>
    <button
      *ngIf="canGoBack()"
      mat-button
      class="back-button"
      (click)="onBackClick()"
    >
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </mat-sidenav>

  <!-- Main Content Area -->
  <mat-sidenav-content>
    <!-- <div *ngIf="isHandset" class="mobile-overlord-navigator">
      <app-overlord-navigator></app-overlord-navigator>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
    <app-task-navigator-test [showArtificer]="true"></app-task-navigator-test>
  </mat-sidenav-content>
</mat-sidenav-container>
