<nav class="navigation">
  <!-- Optional: App logo or name, enhanced with a logo or stylized text -->
  <div class="app-logo">
    <img class="logo" src="../../../favicon.ico" alt="App Favicon" />
    <div class="app-title">Taskorator</div>
  </div>
  <!-- <div class="testing-indicator" *ngIf="testing">TESTING: {{ testing }}</div> -->
  <!-- <div class="feedback-container" *ngIf="feedback">
    <span>{{ feedback }}</span>
  </div> -->

  <!-- Navigation links, grouped for clarity -->
  <div class="nav-links">
    <ng-container *ngIf="testing">
      <a class="nav-link" routerLink="/input-to-tasks">Mass Add</a>
      <a class="nav-link" routerLink="/add-simple-task">Add Simple Task</a>
      <a class="nav-link" routerLink="/overlord-manager">Overlord Swapper</a>
      <a class="nav-link" routerLink="/filter-manager">Various Lists</a>
      <a class="nav-link" routerLink="/parent">Task Browser</a>
      <a class="nav-link" routerLink="/task-filter">Mass Editor</a>
      <a class="nav-link" routerLink="/admin">Admin</a>
    </ng-container>
    <!-- <a class="nav-link" routerLink="/admin">Admin</a> -->

    <!-- <a class="nav-link" routerLink="/template">Template</a> -->
    <a class="nav-link" routerLink="/session">Session</a>
    <a class="nav-link" routerLink="/sentinel">Sentinel</a>
    <a class="nav-link" routerLink="/suggestions">Suggestions</a>
    <a class="nav-link" routerLink="/vizualizer">Visualizer</a>
    <a class="nav-link" *ngIf="!authenticated" routerLink="/login">Login</a>
    <a
      class="nav-link"
      [class.selected-tasks-active]="isThereSelectedTasks"
      routerLink="/selected"
      >Selected</a
    >
    <a class="nav-link" routerLink="/focus">Focus</a>
    <a class="nav-link" routerLink="/frog">Frog</a>
    <a class="nav-link" routerLink="/favorite">Favorite</a>
    <a class="nav-link" routerLink="/navigator">Tasks</a>
  </div>
</nav>
