.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
  white-space: nowrap;
}

.app-logo {
  display: flex;
  align-items: center;
}

.favicon {
  height: 40px; /* Adjust size as needed */
  width: auto;
  margin-right: 10px; /* Space between icon and title */
}

.app-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 20px;
  display: block; /* Ensures the title is visible by default */
}

.nav-links {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-link {
    text-decoration: none;
    color: #bbb;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 0.9em;
    transition: color 0.3s ease; /* Smooth transition for color change */

    &:hover,
    &:active {
      background-color: #444;
      color: #fff;
    }
  }
}

/* Enhanced style when there are selected tasks */
.selected-tasks-active {
  color: #f00; /* Bright color for high visibility */
  font-weight: bold; /* Makes the text bolder */
  background-color: rgba(
    255,
    255,
    0,
    0.285
  ); /* Bright background for contrast */
  animation: flash 1s linear infinite; /* Apply the flashing animation */

  padding: 5px 10px; /* Some padding for better visibility */
  border-radius: 5px; /* Rounded corners for aesthetic */
}

.scroll-shadow {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  pointer-events: none; /* Prevent shadows from blocking click events */
  z-index: 1;

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
  }

  &.right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
  }
}

/* Hide title on smaller screens and only show the favicon */
@media (max-width: 768px) {
  .app-title {
    display: none;
  }
}

/* Optionally, adjust the size of the favicon on smaller screens */
@media (max-width: 768px) {
  .favicon {
    height: 30px; /* Smaller icon on small screens */
  }
}
