<div class="task-navigator">
  <!-- Header Section with Overlord Name and Add Move Task -->
  <div class="task-container">
    <h1>
      <b>{{ selectedOverlord?.name }}</b>
    </h1>
    <p>{{ selectedOverlord?.why }}</p>
  </div>
  <app-add-move-task [overlord]="selectedOverlord"></app-add-move-task>

  <!-- Message and Back Button When There Are No Tasks -->
  <div *ngIf="tasks?.length === 0" class="no-tasks">
    <p>No tasks yet.</p>
    <button class="task-btn" (click)="goBack(selectedOverlord)">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <!-- Task List -->
  <div
    *ngFor="let task of tasks"
    class="task-container"
    [class.selected]="isSelected(task)"
  >
    <div class="task-actions">
      <!-- Left-aligned items -->
      <div class="task-mini-container">
        <div class="navigation-actions">
          <button
            class="task-btn"
            mat-icon-button
            (click)="onPrevious(task)"
            matTooltip="Move Up"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            class="task-btn"
            mat-icon-button
            (click)="onNext(task)"
            matTooltip="Move Down"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <app-task-mini [task]="task"></app-task-mini>
      </div>

      <!-- Right-aligned items -->
      <div class="action-items">
        <app-task-action [task]="task"></app-task-action>
        <app-promoter [task]="task"></app-promoter>
      </div>
    </div>
  </div>
</div>
