<app-artificer></app-artificer>

<div class="secondary-navigation">
  <mat-chip-set>
    <mat-chip (click)="loadLatestTasks()" clickable>Latest Tasks</mat-chip>
    <mat-chip (click)="loadOverlordTasks()" clickable>Overlord Tasks</mat-chip>
    <mat-chip (click)="loadDailyFilteredTasks()" clickable
      >Daily Tasks</mat-chip
    >
    <mat-chip (click)="loadWeeklyTasks()" clickable>Weekly Tasks</mat-chip>
    <mat-chip (click)="loadCrushTasks()" clickable>To Crush Tasks</mat-chip>
    <mat-chip (click)="loadSplitTasks()" clickable>To Split Tasks</mat-chip>
    <mat-chip (click)="loadFocusTasks()" clickable>Focus Tasks</mat-chip>
  </mat-chip-set>
</div>
<div class="center-horizontal">
  <h1>{{ title }}: {{ selectedOverlord?.name }}</h1>
</div>

<div class="center-horizontal">
  <div class="task-form-container"><app-create-task></app-create-task></div>
</div>
<app-simple-navigator></app-simple-navigator>
