<div class="button-group">
  <button mat-button (click)="loadLatestTasks()">Latest Tasks</button>
  <button mat-button (click)="loadOverlordTasks()">Overlord Tasks</button>
  <button mat-button (click)="loadDailyTasks()">Daily Tasks</button>
  <button mat-button (click)="loadWeeklyTasks()">Weekly Tasks</button>
  <button mat-button (click)="loadCrushTasks()">To Crush Tasks</button>
  <button mat-button (click)="loadSplitTasks()">To Split Tasks</button>
  <button mat-button (click)="loadFocusTasks()">Focus Tasks</button>
</div>

<app-simple-navigator></app-simple-navigator>
