<div class="component-width">
  <h1>Favorite Tasks</h1>
  <app-staged-task-list [tasks]="tasks" (tasksChange)="updateTasks($event)">
  </app-staged-task-list>
  <button class="task-btn" (click)="save()">
    <mat-icon>save</mat-icon>Save Settings
  </button>
</div>
<div class="component-width">
  <h1>Selected Tasks</h1>
  <app-staged-task-list
    [tasks]="selectedTasks"
    (tasksChange)="updateSelectedTasks($event)"
  >
  </app-staged-task-list>
  <button class="task-btn" (click)="add()">
    <mat-icon>add</mat-icon>Add To Favorite
  </button>
</div>
